version: "3"
services:
  #main app
  app:
    build: ./project
    volumes:
      - ./project/app:/app
    networks:
      - demo_network
    ports:
      - "5000:5000"
#    command: python /app/app.py
    restart:
      always

  #development tool
  db:
    image: mariadb:10.3.14
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo
      MYSQL_USER: demo
      MYSQL_PASSWORD: demo
    volumes:
      - demo_db:/var/lib/mysql/data
    networks:
      - demo_network
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - demo_network

volumes:
  demo_db:

networks:
  demo_network:


