version: "3"
services:
  #main app
  # flask_project:
  #   build: ./flask_project
  #   volumes:
  #     - ./flask_project:/project
  #   networks:
  #     - demo_network
  #   ports:
  #     - "5000:5000"
  #   restart:
  #     always
  #   depends_on:
  #     - db
  django_project:
    build: ./django_project
    volumes:
      - ./django_project:/web
    networks:
      - demo_network
    ports:
      - "8000:8000"
    restart:
      always
    depends_on:
      - db
    command: python manage.py runserver 0.0.0.0:8000

  #development tool
  # db:
  #   image: postgres:9.6
  #   environment:
  #     POSTGRES_DB: demo
  #     POSTGRES_USER: demo
  #     POSTGRES_PASSWORD: demo
  #   volumes:
  #     - demo_db:/var/lib/postgresql/data
  #   networks:
  #     - demo_network

  db:
    image: mariadb:10.3.14
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo
      MYSQL_USER: demo
      MYSQL_PASSWORD: demo
    volumes:
      - demo_db:/var/lib/mysql/data
    networks:
      - demo_network
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - demo_network
    depends_on:
      - db

volumes:
  demo_db:

networks:
  demo_network:


