{% extends 'base.html' %}


{% block content %}
<div id="routeplaner">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Welcome to Lorem Ipsum</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas lorem id diam pellentesque maximus. Donec ullamcorper, nulla eget congue elementum, diam augue efficitur metus, vel accumsan sem nunc ut dui. Proin sagittis sagittis tellus, et rutrum massa laoreet accumsan. Praesent ante mauris, volutpat ac varius ac, porta eget enim. Donec in efficitur risus. Curabitur nec augue viverra, vulputate elit sit amet, rhoncus est. Morbi sed nisi ut nulla maximus scelerisque. Praesent porttitor, est ut accumsan luctus, ex neque dictum ipsum, mattis condimentum felis dui ac dui. Proin hendrerit at est eu auctor. Aliquam iaculis pellentesque sem, sit amet porttitor magna tempor consequat. Donec fermentum non sapien a euismod. Nam eget leo efficitur, hendrerit risus eget, feugiat libero. Etiam ut ex eu ante eleifend posuere.</p>

        <p><a class="btn btn-outline-danger" href="{% url 'logout' %}">Log Out</a><p>
    </div>

{% endblock %}
